.img{
    width: 1070px; 
    display: flex;
    justify-content: space-between;
    /* margin-left: 120px; */
    box-sizing: border-box;
    background-color: rgb(252, 251, 250);
    margin: 0 auto 0;

}

div>img{
    width: 120px;
    height: 100px;
}
.nav{
    width: 1150px;
    margin: 0 auto 0;
}
div > ul{
    display: flex;
    gap: 20px;
}

div > ul > li{
    list-style: none;
}

div > ul > li > a{
    text-decoration: none;
    color: black;
}

.input {
    display: block;
    width: 500px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px rgb(205, 232, 241);
    box-sizing: border-box;
    background-color: rgb(252, 251, 250);
} 
/* .select{
    width: 520px;
} */
button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}
button:hover {
    background-color: #218838;
}
.size{
margin-left: 130px;
margin-bottom: 3px;
}
.div{
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    gap: 50px;
}